* {
    margin: 0;
    padding: 0;
    border: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    border: solid red;
}
.nav-right {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    border: orange solid;
}
.nav-right li {
    padding: 1rem;
    border: solid green;
}
.nav-right a {
    list-style: none;
}
.trusted {
    text-align: center;
    padding: 1rem;
}
.companies {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 01rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border: solid pink;
}
.companies-logo {
    height: auto;
    width: auto;
}