@import url("https://use.fontawesome.com/releases/v6.1.2/css/all.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  border: solid red;
}
.nav-right {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  border: orange solid;
}
.nav-right li {
  padding: 1rem;
  border: solid green;
}
.nav-right a {
  list-style: none;
}

.hero {
  background-color: lightgray;
  display: flex;
  border: 2px solid blueviolet;
}

.hero-box1 {
  margin: 2rem 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border: 2px solid aqua;
  background-color: darkgray;
}
.hero-box2 {
  margin: 2rem 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  border: 2px solid aqua;
  background-color: darkgray;
  border-radius: 30px;
}

footer {
  text-align: center;
  padding: 10px;
}

footer a {
  font-size: 10px;
  color: black;
}

.features {
  display: flex;
  justify-content: space-around;
}
